#!/usr/bin/env bash

# Make sublime the default editor.
export EDITOR='subl';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);


# call python3 when calling python
export PATH="/usr/local/opt/python/libexec/bin:$PATH";

# point to gdal file-gdb add on 
export GDAL_DRIVER_PATH=/usr/local/lib/gdalplugins;

# postgres
export PGDATA=/usr/local/var/postgres
export PGHOST=localhost
export PGPORT=5432
export PGDATABASE=postgis
export PGUSER=postgres

# put these together into a sqlalchemy URL
# http://docs.sqlalchemy.org/en/latest/core/engines.html
# note that the password is stored here in plain text viewable by anyone...
export DATABASE_URL='postgresql://'$PGUSER':postgres@'$PGHOST':'$PGPORT'/'$PGDATABASE

# and a OGR compatible string (quote when using)
export PGOGR='host=localhost user=postgres dbname=postgis password=postgres port=5432'